.border {
  border: 20px;
}

table.table {
  margin-top: 30px;
}
.table-dark th {
  background: rgb(48, 48, 48);
}

#logout_button {
  display: flex;
  justify-content: right;
}

.btn-outline-secondary {
  color: rgb(255, 89, 89);
  border-color: rgb(255, 89, 89);
}

.mes_reservations {
  text-align: center;
}

.modification {
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  color: white;
}

.bg-img {
  background: url("/uploads/login_banner.jpg") center center/cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.modal-content {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
}

.navbar-brand {
  width: 140px;
  height: 68px;
}

.content {
  padding: 20px;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
}

.hello {
  margin-top: 8.4px;
  font-weight: bold;
}
footer {
  background-color: #282828;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  position: unset;
  flex-shrink: 0;
  display: flex;
  color: #ff5707;
}

.copyright {
  margin-top:8px;
}

.container-foo{
  display: inline-flex;
  font-size: 12px;
}

.img-prod{
  width: 700px;
  border-radius: 10px;
}
